.films-slideshow{
    width: 90vw;
    height: 80vh;
    margin: 15vh auto 100px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    text-align: center;
}

.films-slideshow__poster{
    height: 100%;
    width: 100%;
}

button{
    cursor: pointer;
    background-color: rgb(41, 30, 162);
    border: none;
    border-radius: 75px;
}

body{
    background-color: rgb(19, 19, 83);
}

/* header of page with navigation bar */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  margin: 0;
  padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    max-width: 2560px;
    height: 5vh;
    margin: 0 auto;
    background-color: rgb(41, 30, 162);
}

.logo-container{
    flex: 1;
}


.nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.nav a{
    color: white;
    transition: all 150ms ease-in-out;
    font-size: 25px;
}
.nav a:last-child{
    margin-right: 0px;
}
.nav a:hover{
    color: rgb(134, 134, 134);
}

a{
    text-decoration: none;
}



@media screen and (min-width: 768px){
    .header-mobile{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .header{
        display: none;
    }
}

.menu-open,
.menu-close{
    width: 30px;
    height: 30px;
}

.menu-open{
    position: fixed;
    right: 30px;
    top: 15px;
    cursor: pointer;
}

.menu{
    height: 100%;
    width: 35%;
    position: fixed;
    right: 0;
    top: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
  
    background-color: #2d2d2d;
}

.menu__item{
    color: white;
}
.menu__item:first-child{
    margin-bottom: 40px;
}

.menu-close{
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 5;
    cursor: pointer;
}

.opened {
    opacity: 1;
    animation: openAnim 200ms ease-in-out;
}
  
.closed {
    opacity: 0;
    animation: closeAnim 200ms ease-in-out;
}
  
@keyframes openAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.films-overview{
    width: 80vw;
    margin: 0 auto;
}

.films-overview__schedule{
    margin: 20px 0 50px;
}

.film-schedule{
    display: inline;
    color: white;
    margin-right: 5vw;
    cursor: pointer;
    text-decoration: underline overline;
    font-size: 25px;
}

.film-schedule:first-child{
    margin-left: 25px;
}

.films-overview__films{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.film{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr;
}

.film__poster{
    width: 100%;
}

.film__title{
    color: white;
    text-align: center;
    line-height: 35px;
}

.footer{
    background-color: rgb(41, 30, 162);
    margin-top: 100px;
    margin-bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    color: white;
    margin: 0px 35px;
}