/* general specifications */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  margin: 0px;
  padding: 0px;
}

body{
    background-color: rgb(19, 34, 61);
}

/* header of page with navigation bar, desktop */
.header--desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    max-width: 2560px;
    height: 5vh;
    margin: 0 auto;
    background-color: rgb(32, 56, 100);
}

.logo-container{
    flex: 1;
}

.nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: white;
    transition: color 0.2s ease-in-out;
    font-size: 25px;
    text-decoration: none;
}

.nav__link:hover{
    color: rgb(134, 134, 134);
}

.header--desktop .user-image{
    padding-left: 1em;
}

/* mobile header */
.header--mobile .logo-container{
    text-align: center;
}

.open-menu,
.close-menu{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 30px;
    top: 15px;
    cursor: pointer;
}

.close-menu{
    z-index: 5;
}

.menu{
    height: 100%;
    width: 35%;
    position: fixed;
    right: 0;
    top: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
  
    background-color: #2d2d2d;
}

.menu__item{
    color: white;
    text-decoration: none;
}
.menu__item:first-child{
    margin-bottom: 40px;
}

.opened {
    opacity: 1;
    animation: openAnimation 0.5s ease-in-out;
}
  
.closed {
    opacity: 0;
    animation: closeAnimation 0.5s ease-in-out;
}
  
@keyframes openAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes closeAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* footer */
.footer{
    background-color: rgb(32, 56, 100);
    margin-top: 100px;
    margin-bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link{
    color: white;
    margin: 0px 35px;
    text-decoration: none;
}

/* media queries */
/* dekstop specifications */
@media screen and (min-width: 768px){
    .header--mobile{
        display: none;
    }
}

/* mobile specifications */
@media screen and (max-width: 767px){
    .header--desktop{
        display: none;
    }
}


/* index page */
.films-slideshow{
    width: 90vw;
    height: 80vh;
    margin: 7em auto 100px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    position: relative;
}

.films-slideshow__poster{
    max-height: 100%;
    max-width: 100%;
}

.films-slideshow__film-title{
    color: white;
    font-size: 36px;
    text-shadow: #000 0px 0px 5px, #000 0px 0px 10px, #000 0px 0px 15px, #000 0px 0px 20px, #000 0px 0px 30px, #000 0px 0px 40px, #000 0px 0px 50px, #000 0px 0px 75px;
    position: absolute;
    left: 14%;
    bottom: 6%;
}

.films-slideshow__button{
    color: white;
    font-size: 48px;
    background-color: rgb(32, 56, 100);
    border: none;
    border-radius: 75px;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.films-slideshow__button:hover{
    background-color: rgb(72, 61, 186);
}

.films-overview{
    width: 80vw;
    margin: 0 auto;
}

.films-overview__schedule{
    margin: 20px 0 50px;
    padding-left: 25px;
}

.film-schedule{
    display: inline;
    color: white;
    text-decoration: underline overline;
    font-size: 25px;
    line-height: 40px;
    margin-right: 5vw;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.film-schedule:hover{
    color: rgb(134, 134, 134);
}

.films-overview__films{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.film{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr;
}

.film__poster{
    width: 100%;
}

.film__title{
    color: white;
    text-align: center;
    line-height: 35px;
}

/* media queries */
/* dekstop specifications */
@media screen and (min-width: 768px){
    .films-overview__films{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* mobile specifications */
@media screen and (max-width: 767px){
    .film-schedule{
        font-size: 22px;
    }

    .films-overview__films{
        grid-template-columns: 1fr 1fr;
    }

    .films-slideshow{
        margin-top: 2em;
    }
}